body{
    color: white;
    background-color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    padding: 1em;
    font-size: 20px;
}
li:hover{
    background-color: gray;
}
h3{
    font-size: 20px;
}

.bg-img{
    background-image: url("Cafe1.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    background-size: cover;
}

footer{
    background-image: url("cafe2.jpg");
    height: 500px;
    background-size: cover;
}
button{
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 20px;
    padding: 8px;
    border: white;
}
h1{
    text-align: center;
    font-size: 40px;
    width: 450px;
}
.presentation{
    size: 100em;
    font-size: 18px;
    width: 500px;
}

.art{
    display: flex;
    justify-content: space-around;
    background-color: white;
    justify-content: center;
    height: 400px;
}
.icone{
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2px;

}
img{
    width: 50px;
    height: 50px;
}
p{
    text-align: center;
    width: 450px;

}

